<?xmlns version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/logowanie.css" media="screen"/>
		<script src="/javascripts/prototype.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/effects.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/controls.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/dragdrop.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
<body id="body" onLoad="initApp()">
	<div id="black"></div>
	<div id="loader">Ładowanie...</div>

		<%= yield %>

</body>

</html>